{% extends 'base.html' %}
{% block main_block %}

<div class="container">
    <table class="table table-striped">
        <tr>
            <th>Address</th>
            <th>Price</th>
            <th>Property Type</th>
            <th>Number of Bedrooms</th>
            <th>Square Footage</th>
            <th>Location</th>
            <th>Property Image</th>
            <th>Contact Details</th>
            <th>Actions</th>
        </tr>
        {% for r in data %}
        <tr>
            <td>{{ r.Address }}</td>
            <td>{{ r.price }}</td>
            <td>{{ r.property_type }}</td>
            <td>{{ r.number_of_bedrooms }}</td>
            <td>{{ r.square_footage }}</td>
            <td>{{ r.location }}</td>
            <td>
                {% if r.property_image %}
                    <img src="{{ r.property_image.url }}" alt="Property Image" height="100">
               
                

                {% endif %}
            </td>
            <td>{{ r.contact_deatils }}</td>
            <td>
                <a href="{% url 'rels-edit' r.id %}">Edit</a>
                <a href="{% url 'rels-deatil' r.id %}">View</a>
                <a href="{% url 'rels-delete' r.id %}">Remove</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
